@import url("common.css");

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image {
  width: 350px;
}

.text {
  width: 450px;
  margin-bottom: 4em;
}

/* Content is always ordered image → title → text in the HTML but images
 * are displayed alternatively on the left and on the right on big
 * screens. */
@media (min-width: 880px) {
  section {
    justify-content: space-between;
  }
  .image {
    margin-bottom: 4em;
    margin-top: 100px !important;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
}

h1 {
  color: #56347c;
}

.metaphor {
  color: #999;
  font-size: 15px;
}

.big {
  font-size: 20px;
}

.medium {
  color: #666;
}

.links {
  margin-top: 2em;
}

.links p, .links ul {
  display: inline-block;
  vertical-align: top;
}
