[[!pagetemplate template="topbar.tmpl"]]
[[!meta title="How Tails works"]]
[[!meta stylesheet="staging/about" rel="stylesheet" title=""]]
[[!meta robots="noindex"]]

<h1>Leave no trace on the computer</h1>

<section>

  <div class="image order-1">

  <img src="https://anhdr.es/tails/img/tails_2.1_anywhere.png" alt=""/>

  <p><i class="metaphor">Like a tent, you can carry Tails with you and use it anywhere.</i></p>

<!--
P7: [DONE] Does not understand the USB tent
P7: [DONE] coworking-tent le parece rebuscada
P7: [DONE] Would put the computer inside the tent
P8: [DONE] Doesn't understand the USB tent
P8: [DONE] Thinks that coworking-tent is clearer
P9: [DONE] Likes better the laptop inside the tent, the others feel like you have to hide (vs. security should be normal)
-->

  </div>

  <div class="text order-2">

  <h2>Your secure computer anywhere</h2>

  <p class="big">To use Tails, shut down the computer and start on your Tails USB stick
  instead of starting on Windows, macOS, or Linux.</p>

  <p class="big">You can temporarily <strong>turn your own
  computer into a secure machine</strong>. You can also <strong>stay
  safe while using the computer of somebody else</strong>.</p>

<!--
P5: [DONE] "Run it on someone else's device" are they logged out? will they lose data when I plug it in?
P6: [DONE] Stumble on "somone else's computer"
P8: [DONE] Has a hard time understand how to use Tails on a computer
P8: [WORK] Finds it interesting to make your own computer secure
P8: [DONE] Thinks that Tails works from a different partition
P9: [DONE] Is not sure about where you install it
P11: [WONT: Read almost nothing] It's talking about a Tails USB stick but how do I get one?
P11: [WONT: Read almost nothing] Unclear about whether it's a chat application, a search tool or taking your computer completely
-->

  <p class="medium">Tails is a
  [[!inline pages="inc/stable_amd64_iso_size" raw="yes" sort="age"]]
  download and takes ½ hour to install. Tails can be installed on any USB stick of 8 GB minimum.
  Tails works on most computers less than 10 years old.
  You can start again on the other operating system after you shut down
  Tails.</p>

  <p class="medium">You don't have to worry about the computer having viruses
  because Tails runs independently from the other operating system and never uses the hard disk.
  But, Tails cannot always protect you if you
  install it from a computer with viruses or if you use it on a computer
  with malicious hardware, like keyloggers.</p>

<!--
P3: What would be the "insecure" of macOS?  I feel like Mac protects privacy Why should I bother? Is this really better?
P3: Maybe I don't have install rights on Windows
P4: Also... some USB sticks have viruses on them. Will Tails tell me if the USB stick is okay before I install?

P3: [DONE] The installation of an OS takes several hours / minutes
P5: [DONE] "Instead of Win/mac" [had to be read twice, sentence structure] reads to them like Tails **only** works with Linux
-->

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[System requirements|doc/about/requirements]]</li>
      <li>[[Warnings and limitations|doc/about/warning]]</li>
      <li>[[Download and install Tails|install]]</li>
    </ul>
  </div>

  </div>

</section>

<section>

  <div class="image order-2">

  <img src="https://anhdr.es/tails/img/tails_2.2_amnesia.png" alt=""/>

<!--
P9: El único que se acuerda es el buho
P10: Rolling the tent could be anything. The other is more clear.
P11: Maybe the owl is a spy
P11: Roll is about leaving, tent is about preparing
P11: Roll is unclear about what it is: sleeping bag?
P12: Thinks that the guy is putting up the tent
P12: Likes both: 1st is clearer about being empty but 2nd is easier to understand

P6: [DONE] Think that the person is taking out the trash
P7: [DONE] Doesn't understand the setting up steps
P8: [DONE] Thinks that it's a kid spinning
P8: [DONE] Doesn't understand the link between setting-up.png
-->

  <i class="metaphor">Like a tent, Tails is amnesic: it always starts empty and leaves no trace when you leave.</i>

  </div>

  <div class="text order-1">

  <h2>Amnesia</h2>

  <p class="big">Tails always starts from the same clean state and <strong>everything you
  do disappears</strong> automatically when you shut down Tails.</p>

  <p class="medium">Without Tails, almost everything you do can leave traces on the
  computer:</p>

  <ul class="medium">
    <li>Websites that you visited, even in private mode</li>
    <li>Files that you opened, even if you deleted them</li>
    <li>Passwords, even if you use a password manager</li>
    <li>All the devices and Wi-Fi networks that you used</li>
  </ul>

  <p class="medium">On the contrary, Tails never writes anything to the hard
  disk and only runs from the memory of the computer. The memory is entirely
  deleted when you shutdown Tails, erasing all possible traces.</p>

<!--
P4: What does amnesia mean?

P1: [DONE] Amnesia vs Persistence: not so clear...
P2: [WORK] Amnesia: didn't know the word, "like a sandbox"
P8: [WORK] The important part is that Tails never write anything to the hard disk
P8: [DONE] Reads the list as things that Tails deletes
P3: [WONT: Explained later] Amnesia: pros & cons. I will forget what I did, eg. good website
P5: [WORK] This property is important, means there's no connection to the existing OS!
-->

  </div>

</section>

<section>

  <div class="image order-1">

  <img src="https://anhdr.es/tails/img/tails_2.3_persistent.png" alt=""/>

<!--
XX: Add some reference between the backpack and the tent: tent in the background

P9: [DONE] Doesn't like the big safe
P11: [WORK] Prefers the backpack with chains because the backpack is your stuff and it is safe
     The lock with key is too much about the key and not about your stuff
     Keep it away. Don't touch it!
P12: [WORK] The key means that it is well closed
P12: [WORK] Prefers 2nd because it's more clear that it's my backpack
P12: [DONE] Doesn't like the big safe
-->

  <i class="metaphor">Like a backpack, you can store your personal things in your Persistent Storage
  and use them in your tent.</i>

  </div>

  <div class="text order-2">

  <h2>Encrypted Persistent Storage</h2>

  <p class="big">You can <strong>save some of your files and configuration</strong>
  in an encrypted Persistent Storage on the USB stick:
  your documents, your browser bookmarks, your emails, and
  even some additional software.</p>

  <p class="medium">The Persistent Storage is optional and you always decide what is
  <i>persistent</i>. Everything else is <i>amnesic</i>.</p>

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[Using the encrypted Persistent Storage|doc/first_steps/persistence]]</li>
      <li>[[Installing additional software|doc/first_steps/additional_software]]</li>
    </ul>
  </div>

<!--
P6: I don't understand this concept of "persistent encryption" (in Spanish)
    (after reading the description) You can save some of your stuff is a "storage" (in English) or something like that
    Me: So what does "Persistencia" mean to you? I don't know. (even after saying that it's a kind of storage)
P7: (after reading the description) I'm not sure what this means: is it a program? an online server? or saving stuff to the USB?
P8: (after reading the description) This is not clear to me. Persistence: I understand that it's a tool
    When prompted, understand the relationship between Amnesia and Persistence
P9: (only shown the title) Everything you do will be saved encrypted
    Persistence sounds to me like trying to encrypt over and over again
P10: (only shown the title) You need some kind of key to be able to use Tor and everything else
     Persistence is something that stays, a data that sticks with time
     (shown the description) It's an algorithm for encryption with which you can save some of your stuff
P12: (only shown the title) At first, thinks that everything is encrypted
     Persistence means "during a lot of time" or "very strong"
     Thinks that you can decide to encrypt the whole USB stick or not
     Sounds like a system of very strong passwords to make it even stronger to open your Tails
     Would call it "top security encryption"
     (shown "Encrypted Persistent Storage" instead) "storage" are things that you save
     It's like a suitcase that stays forever

P2: [WORK] Persistence: assume it's on the USB stick
P3: [WORK] **Persistence with capital P, must be the noun of a tool**
P4: [WONT: Works for them] ( "Persistence" is not the right word; too complex for international English speakers...
P4: [DONE] Persistence and amnesia should be at the same place!
P4: [WORK] Persistence is awesome on its own: a way for me to set up an encrypted hard drive with sensitive data
P5: [DONE] Can you run your own software on this USB stick?
P5: [DONE] *Persistence* is this a user choice? Highlight the choice/option. [Relation to amnesia unclear]
P7: [DONE] Wonders whether the Persistence is online or on the USB stick
P8: [WORK] Understands the relationship between Amnesia and Persistence
-->

  </div>

</section>

<section>

  <div class="image order-2">

  <img src="https://anhdr.es/tails/img/tails_2.4_tools.png" alt=""/>

  </div>

  <div class="text order-1">

  <h2>Digital security toolbox</h2>

  <p class="big">Tails includes a selection of applications to <strong>work on sensitive documents</strong>
  and <strong>communicate securely</strong>.</p>

  <p class="big">All the applications
  are ready-to-use and are configured with safe defaults to <strong>prevent
  mistakes</strong>.</p>

  <p class="medium">Tails includes:</p>

  <ul class="medium">
    <li><i>Tor Browser</i> with <i>uBlock</i>, a secure browser with an ad-blocker</li>
    <li><i>Thunderbird</i> with <i>Enigmail</i>, for encrypted emails</li>
    <li><i>KeePassXC</i>, to create and store strong passwords</li>
    <li><i>LibreOffice</i>, an office suite</li>
    <li><i>OnionShare</i>, to share files over Tor</li>
    <li>and many more!</li>
  </ul>

  <p class="medium">To prevent mistakes:</p>

  <ul class="medium">
    <li>Applications are blocked automatically if they try to connect to the Internet without Tor.</li>
    <li>Everything in the Persistent Storage is encrypted automatically.</li>
    <li>Tails does not write anything to the hard disk. All the memory is deleted when shutting down.</li>
  </ul>

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[Features and included software|doc/about/features]]</li>
      <li>[[Documentation|doc]]</li>
    </ul>
  </div>

<!--
P3: [DONE] "Sensitive documents": personal, office, id card
P3: [DONE] "Sometimes you see a swiss knife and you don't know how it works"
P3: [DONE] "Out-of-the-box": jargon
P3: [WORK] "Prevent mistakes" is interesting
P3: [DONE] Tools: Antivirus scan, Adblock, Another browser, Word processor ("encoding issues?")
P3: [DONE] What kind of mistakes?
P4: [DONE] *Tools* which tools? Google Docs? Video calls?
P4: [DONE] "Secure by default" what does that mean?? What are "mistakes"?
P7: [DONE] Gets lost in "It's impossible not to encrypt"
P7: [DONE] Doesn't know GnuPG
P8: [DONE] Thinks that "password manager" is to encrypt
P10: [DONE] Stumbles on 'ready-to-use'
-->

  </div>

</section>

<h1 class="follow">Leave no trace on the Internet</h1>

<section>

  <div class="image order-1">

  <img src="https://anhdr.es/tails/img/tails_3.1_relays.png" alt=""/>

<!--
P10: Finds the bear funny
P10: Likes the bear that represents threats
P11: Likes the eyes better than the bear: all the eyes trying to spy on you but they can't

P9: [DONE] Le gusta más sin números
P12: [WONT: Contradictory feedback] Likes better the one with numbers
P12: [DONE] Gets that the image represents the Tor relays with the one with the tent, not so much with the bear
-->

  </div>

  <div class="text order-2">

  <h2>Tor for everything</h2>

  <p class="big">Everything you do on the Internet from Tails goes through the Tor
  network. Tor encrypts and anonymizes your connection by
  <strong>passing it through 3 relays</strong>. <i>Relays</i> are servers
  operated by different people and organizations around the world.</p>

  <p class="medium">A single relay never knows both where the encrypted
  connection is coming from and where it is going to:</p>

  <ul class="medium">
    <li>The 1st relay only knows where you are coming from but not where
    you are going to.</li>
    <li>This 3rd relay only knows where you are going to but not where
    you are coming from.</li>
  </ul>

  <p class="medium">This way, Tor is <strong>secure by design</strong> even if a few
  relays are malicious.</p>

  <p class="medium">Tor has more than 6&#8239;000 relays. Organizations running Tor relays
  include universities like the MIT, activist groups like Riseup,
  nonprofits like Derechos Digitales, Internet hosting companies like
  Private Internet Access, etc. The huge diversity of people and
  organizations running Tor relays makes it more secure and more
  sustainable.</p>

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[Why does Tails use Tor?|doc/about/tor]]</li>
      <li>[[Viewing the status and circuits of Tor|doc/anonymous_internet/tor_status]]</li>
    </ul>
  </div>

<!--
P1: [DONE] Didn't know "layers"
P1: [DONE] Tails (y "los voluntarios") pueden saber que hacen sus usuarios! FBI!!!
P3: [DONE] Why so many layers of encryption, why 3?
P3: [DONE] Why volunteers? Is it sustainable? Pros & cons? Volunteers could be both innocent and useless
P4: [DONE] "3 layers of encryption" ??? what's that?
P4: [WORK] Great, feel like I can trust Tails to access Tor.
P4: [WORK] "Anything that helps me get on Tor without me having to do something special is GREAT."
P5: [DONE] "3 layers of encryption" unclear. same encryption, 3 times?
P6: [DONE] Doesn't know "relay"
P8: [DONE] Doesn't know "relay"
-->

  </div>

</section>

<section>

  <div class="image order-2">

  <img src="https://anhdr.es/tails/img/tails_3.2_walkietalkies.png" alt=""/>

<!--
P9: Would prefer the version with eyes
P9: Los ojos dan un poco de miedo

P9: [WONT] Doesn't like people hiding in tents
P10: [DONE] Wonders whether the owl is Batman
P11: [WORK] The owl is fine here because it's watching, also with the other eyes in the bush
P12: [WORK] The card could be intercepted. The phone line could be cut.
-->

  </div>

  <div class="text order-1">

  <h2>Avoid online surveillance and censorship</h2>

  <p class="big">Tor prevents someone watching your Internet connection from learning
  <strong><i>what</i> you are doing on the Internet</strong>.</p>

  <p class="big">You can avoid
  censorship because it is <strong>impossible for a censor to know</strong> which
  websites you are visiting.</p>

  <p class="medium">If connecting to Tor is blocked or dangerous to use from where you
  are, for example Iran or China, you can use <i>bridges</i> to connect to
  Tor in a more discrete way. Different types of bridges work better in
  different places.</p>

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[Can I hide the fact that I am using Tails?|doc/about/fingerprint]]</li>
      <li>[[Tor bridge mode|doc/first_steps/startup_options/bridge_mode]]</li>
    </ul>
  </div>

<!--
P2: [DONE] Censorship: Tor but also something else? because Tor works very bad in China...
-->

  </div>

</section>

<section>

  <div class="image order-1">

  <img src="https://anhdr.es/tails/img/tails_3.3_footprints.png" alt=""/>

  </div>

  <div class="text order-2">

  <h2>Avoid tracking and change identity</h2>

  <p class="big">Tor also prevents the websites that you are visiting from learning
  <strong><i>where</i> and <i>who</i> you are</strong>, unless you tell them. You
  can visit websites <strong>anonymously or change your identity</strong>.</p>

  <p class="big">Online
  trackers and advertisers won't be able to follow you around from one website to another
  anymore.</p>

  <p class="medium">You can publish a blog or manage a social media
  account entirely from Tails. If you only access it from
  Tails, it cannot be related to you. You can store documents
  and images related to this different identity in your Persistent Storage,
  keep your passwords in <i>KeePassXC</i>, have a dedicated
  email account in <i>Thunderbird</i>, etc.</p>

<!--
P5: What the difference between *avoid tracking* and *anti-censorship/surveillance*?

P2: [DONE] Change identity = Change Tor IP, or something else? Change IP? Browser? Lie to service & providers? Cookies
P4: [DONE] Change my identity? How does that work? [interpreted as a special feature]
P8: [DONE] Has a hard time thinking about what he could change his identity for
-->

  </div>

</section>

<h1 class="follow">Software for freedom</h1>

<section>

  <div class="image order-2">

  <img src="https://anhdr.es/tails/img/tails_4.1_blueprint.png" alt=""/>

<!--
P11: Thinks it's a drawing for how to put up a tent
P11: Doesn't relate the study with trust
P11: Like better the one in the bottom because it's a person studying the tent
P12: Like to see the person watching the plans

P6: [DONE] verify-tree.png Thinks that the watchers are looking the tree grow
P9: [DONE] No habia visto la tienda en el microscopio
P9: [DONE] Like the microscope better: bigger, more scientific, etc.
P10: [WONT: We prefer "Free Software" and "public"] Wonders whether it's open source
P12: [DONE] Doesn't like the microscope because it's outside of the universe
-->

  </div>

  <div class="text order-1">

  <h2>Transparency to build trust</h2>

  <p class="big">All the code of our software is public to allow
  independent security researchers to verify that Tails really works the way it
  should.</p>

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[Trusting Tails|doc/about/trust]]</li>
      <li>[[License and source code distribution|doc/about/license]]</li>
      <li>[[Design documents|contribute/design]]</li>
    </ul>
  </div>

<!--
P3: Transparency: who have checked?

P1: [DONE] Should put trust first in "Software for Freedom"
P2: [DONE] Transparency answers previous concerns about trust
P3: [WONT: P3 is a programmer] "the code of our software" → "our code"?
P7: [DONE] verify-tree.png Says that he doesn't have the skills to verify himself
-->

  </div>

</section>

<section>

  <div class="image order-1">

  <img src="https://anhdr.es/tails/img/tails_4.2_bonfire.png" alt=""/>

<!--
P10: Doesn't really understand. There might be threat to the campfire: rain, etc.
P12: Fire is more about sharing but also about sharing free things, lacks something about security
     There could be more contact and strength among the group

P8: [DONE] Finds more meaning in tent-gift over bee
P9: [WORK] Estas seguro y de gratis cuando estas en la montaña
P9: [WORK] Prefers the fire over the gift because it's not a material good
P11: [WORK] After doing your stuff you are save and relax with your friends
P11: [WORK] Doesn't cost anything and you are safe and free in your life
P11: [WORK] Prefer fire because it's more human, not a material thing
P12: [DONE] Gift tent is not suited for "top security"
-->

  </div>

  <div class="text order-2">

  <h2>Top security for free</h2>

  <p class="big">Nobody should have to pay to be safe while using a computer.
  That is why we are giving out Tails for free and try to make it easy to use by
  anybody.</p>

  <p class="big">We are a nonprofit and an open community.</p>

  <p class="medium">Our work is funded
  by donations from people like you and organizations that support
  Internet freedom: Mozilla, Tor, DuckDuckGo, Freedom of the Press
  Foundation, AccessNow, etc.</p>

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[Donate|donate]]</li>
      <li>[[Partners|partners]]</li>
      <li>[[Social Contract|contribute/working_together/social_contract]]</li>
    </ul>
  </div>

<!--
XX: [DONE] Split the first sentence: that's why
P6: [DONE] Starts reading the sentence as if these tools were included in Tails
P3: [DONE] It's ideal but no big name mentioned, organizations I know
P3: [DONE] Free software → what business model?
P4: [DONE] "shoulder of giants" not sure what that means just use logos/names to see who is in this ecosystem?
P5: [DONE] Who's supporting you? Wants to see names/logos. [Add link]
-->

  </div>

</section>

<section>

  <div class="image order-2">

  <img src="https://anhdr.es/tails/img/tails_4.3_roots.png" alt=""/>

<!--
P10: Would add bridges between the trees
P10: Wonders whether sharing with projects with different goals would weaken the project

P8: [WORK] tree means strength and roots
P8: [WORK] Prefers tree because it's strong
P9: [WORK] Likes the trees and their strength. Feels the "sharing" but cannot explain why.
P9: [WORK] Prefers the trees over the fire for sharing
P10: [WONT: Contradictory feedback] Understands the network in trees but prefers campfire for sharing
P10: [DONE] "El que esta debajo de un arbol se moja 2 veces"
P11: [WORK] Prefers the trees because it's about networking (underground)
-->

  </div>

  <div class="text order-1">

  <h2>Sharing to be stronger</h2>

  <p class="big">Tails is built on solid foundations: the Tor
  network, the Debian operating system, the GNOME desktop environment,
  and all the tools included in Tails.</p>

  <p class="big">We share back our improvements with these projects
  so that many more people can benefit from our work.</p>

<!--
P1: [DONE] TAILS IS BUILT ON SOLID FOUNDATIONS
P3: [WORK] Tor, Debian: big names GNOME: some user interface?
P3: [WORK] Tails is like a new generation of RedHat
-->

  <div class="links">
    <p>See also:</p>
    <ul>
      <li>[[Relationship with upstream|contribute/relationship_with_upstream]]</li>
      <li>[[Contribute|contribute]]</li>
    </ul>
  </div>

  </div>

</section>

<div class="button">

[[Get Tails|install]]

</div>
