body {
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", sans-serif;
}

.pageheader #otherlanguages {
  top: 0;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

/* Topbar */

.banner {
  height: auto;
  padding: 0;
  padding-bottom: 10px;
  position: relative;
  background: #56347c url(logo.svg) no-repeat 30px 10px;
}

.banner:hover {
  background-color: #56347c;
}

.banner a span {
  display: none;
}

.banner .tails {
  height: 110px;
}

form#searchform {
  height: 2em;
  display: block;
  float: none;
  position: relative;
  background: none !important;
  overflow: auto;
  top: auto !important;
  right: auto;
  margin-top: 10px;
  margin-left: 30px;
  width: auto;
}

@media (min-width: 520px) {
  form#searchform {
    position: absolute;
    top: 1em !important;
    right: 1em;
    left: auto;
    margin-top: 0;
  }
}

.topbar {
  background: white;
  max-width: 986px;
  margin: 0 auto;
  padding-left: 15px;
}

.topbar ul {
  margin: 0;
  max-width: 100%;
}

.topbar ul li {
  display: inline-block;
}

.topbar a, .topbar .selflink {
  display: block;
  margin: 0 15px;
  padding: 8px 0;
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.topbar a {
  color: black;
}

.topbar a:hover {
  text-decoration: none;
  border-bottom: 5px solid #73d171 !important;
}

.topbar .selflink {
  border-bottom: 5px solid #276426;
}

/* Special links */

.topbar a.donate {
  background: url(heart.svg) no-repeat top 50% left !important;
  padding-left: 20px;
  border-bottom: 5px solid yellow;
}

/* Hide breadcrumbs on top pages */

.parentlinks, span.title {
  display: none;
}

/* Only display actions on blueprints */

.actions {
  display: none;
}

/* Overwrites to local.css */

.page {
  padding: 0;
}

span.title {
  margin-left: 0;
}

#crumbs {
  margin: 0;
}

#pagebody {
  margin: 0 30px;
}

#content {
  padding: 20px 0 !important;
}

.button {
  width: 300px;
  margin: 1em auto;
}

.button a {
  background: #53b351;
  color: black !important;
  font-size: 24px;
  border-radius: 0.5em;
  padding: 0.2em;
  display: block;
  text-align: center;
  box-shadow: 1px 1px 5px #ccc;
  width: 100%;
}
