[[!pagetemplate template="topbar.tmpl"]]
[[!meta title="Home"]]
[[!meta stylesheet="staging/home" rel="stylesheet" title=""]]
[[!meta robots="noindex"]]

<script>
document.addEventListener('DOMContentLoaded', function() {

  document.title = "Tails";

});
</script>

<div class="hero">

[[!img laptop.svg link="no" alt="" class="laptop"]]

<h1 class="sentence">
<span class="hero-tails">Tails</span><br/>
is a portable operating system<br class="optional"/>
that protects your privacy<br class="optional"/>
and helps you avoid censorship.
</h1>

</div>

<!--
P3: [DONE] Portable OS: something like iOS, Android? != mobile. Add "for laptops" somewhere
P4: [WONT] Does Tails sell the USB stick? Can I use any USB stick?
P5: [DONE] Is it like Ubuntu?
P9: [DONE] Didn't realize that Tails was an operating system
-->

<section class="benefits">

<div class="benefits-1">

<section>

<img src="https://anhdr.es/tails/img/tails_1.1_city.png" alt=""/>

<!--
P10: Add mobile phone signal

P6: [DONE] At first, didn't see the guy walking away from the city
P11: [WORK] This is like Google
-->

<h3>Avoid surveillance, censorship, advertising, and viruses</h3>

<p>Tails uses the Tor network to protect your privacy online and help you avoid
censorship. Enjoy the Internet like it should be.</p>

<!--
P2: [DONE] No virus: "because it's Linux"
P4: [WONT: Cannot be solved] What does "No ads" mean? Will news websites start blocking me [ad-blockers]?
P5: [WONT: Explained in About] *No ads, no viruses* HOW? And is it because there's nothing important of the laptop, so there is no value for hackers?
-->

</section>

<section>

<img src="https://anhdr.es/tails/img/tails_1.2_camping.png" alt=""/>

<!--
P10: [WONT: Ended up understanding the tent metaphor] Would prefer a more robust place than a tent: a bunker!
P11: [WORK] Tails is like being alone and secure
-->

<h3>Your secure computer anywhere</h3>

<p>Shut down the computer and start on your Tails USB
stick instead of starting on Windows, macOS, or Linux. Tails leaves no trace on the computer when shut down.</p>

<!--
P1: [DONE] Install Tails on a USB stick and run it on any computer instead of STARTING ON Windows or macOS
P4: [WORK] AMAZING that I can use someone else's computer without compromising on security!
P5: [DONE] "Turn your own computer into a secure machine" [had to be read 3-4 times for understanding]. Is it like Vine?
P5: [DONE] "Instead of Win/mac" [had to be read twice, sentence structure] reads to them like Tails **only** works with Linux
P6: [DONE] Thinks that the image means that your computer can be safe even in a camping
P9: [DONE] Lo puedes usar en Windows o en Mac. No vi que funcione también para Linux.
-->

</section>

</div>

<div class="benefits benefits-2">

<section>

<img src="https://anhdr.es/tails/img/tails_1.3_toolbox.png" alt=""/>

<!--
P6: [DONE] Thinks that the telephone is tapped by the walkie-talkie
P8: [DONE] Thinks that the telephone is tapped by the walkie-talkie
P10: [WONT] Doesn't see much relation with the picture because displayed tools are not digital
P10: [WONT: Contradictory feedback] Camping kit transmits more independence and autonomy. La seguridad te la vas a proporcionar tu. Exploration kit son más cosas aisladas. Camping kit es más coecionada: funciono de esta manera
P11: [WORK] It's about hiking. You are hard to follow and find
P12: [WORK] Prefiere la primera porque son herramientas de comunicacion
P12: [WORK] The camping kit doesn't seem related so much to the topic
P12: [WONT: Contradictory feedback] Camping kit feels more like you are going to stay for a bit longer
-->

<h3>Digital security toolbox</h3>

<p>Tails includes a selection of applications to work on sensitive documents and communicate
securely. Everything in Tails is ready-to-use and has safe defaults.</p>

<!--
P4: [DONE] *Toolbox* - can I access Google Docs? What are these tools?
P5: [DONE] *Toolbox* is this software written by Tails? Someone else? Who chose what to include, is it trustworthy?
P2: [DONE] "Which tools?"
-->

</section>

<section>

<img src="https://anhdr.es/tails/img/tails_1.4_gift.png" alt=""/>

<!--
P12: The price tag feels like it's a something pricee, also because of the lines

P6: [DONE] Thinks that the blueprint represents the act of coding.
P7: [DONE] Thinks that the blueprint represents non-recreational software.
P9: [DONE] Likes the heart better, made with love. Doesn't like always relating to money. Without heart is less cheesy.
P10: [WONT: Contradictory feedback] Prefers with price because it's the most obvious.
P10: [WORK] Gets the lace but wonders whether it's clear
P10: [DONE] Likes better with the heart than without because it carries more message of allowing people to escape the commercialization of data
P12: [DONE] Likes better the 1st one because it's not only about the price but also care and safety
-->

<h3>Free Software</h3>

<p>You can download Tails for free and independent security researchers can verify our
work. Tails is based on Debian GNU/Linux.</p>

<!--
P4: [DONE] The free software box is also slightly repetitive; maybe just add "free software" to the first sentence?
P5: [DONE] Who are independent researchers? Does it just mean everyone/all developers?
P9: [DONE] Unclear about who are the 'security researchers', los desarrolladores de Tails?
-->

</section>

</div>

</section>

<div class="cfas">

<div class="button">

[[Learn how Tails works|about]]

</div>

<div class="button">

[[Get Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]|install]]

</div>

</div>

<section class="news">

<h3>News</h3>

<div class="archive">

[[!inline pages="page(news/*) and !news/*/* and !news/discussion and (currentlang() or news/report_2* or news/test_*)" show="3" feeds="no" archive="yes" sort="-meta(date) age -path"]]

</div>

</section>

<section class="users">

<h3>Who uses Tails</h3>

<div class="personas">

<section>

<p>[[!img riou-small.jpg link="no" alt=""]]</p>

<p><span class="persona">Activists</span> use Tails to hide their identities, avoid censorship, and communicate
securely.</p>

</section>

<section>

<p>[[!img cris-small.jpg link="no" alt=""]]</p>

<p><span class="persona">Journalists<br/>and their sources</span> use Tails to publish sensitive information
and access the Internet from unsafe places.</p>

<!--
P12: The journalist seems pissed of

P9: [DONE] Doesn't know whistleblower
P12: [DONE] Doesn't know whistleblower
-->

</section>

<section>

<p>[[!img kim-small.jpg link="no" alt=""]]</p>

<p><span class="persona">Domestic violence survivors</span> use Tails to escape surveillance at home.</p>

</section>

<section>

<p>[[!img you-small.jpg link="no" alt=""]]</p>

<p><span class="persona">You</span> whenever you need extra privacy
in this digital world.</p>

</section>

</div>

</section>

<section class="recommended">

<h3>Recommended by</h3>

<div class="testimonials">

<section class="quote">

[[!img snowden.png size="200x200" link="https://twitter.com/Snowden/status/1165395796520554496" alt="Edward Snowden"]]
<blockquote>
<a href="https://twitter.com/Snowden/status/1165395796520554496">
<p><em>If you look at the way post-2013 whistleblowers have been caught,
it is clear the absolute most important thing you can do to maintain
your anonymity is reduce the number of places in your operational
activity where you can make mistakes. Tor and Tails still do precisely
that.</em></p>
&mdash; <strong>Edward Snowden</strong>,<br/>
NSA whistleblower
</a>
</blockquote>

</section>

<section class="quote">

[[!img tor.png size="200x200" link="https://www.torproject.org/" alt="Tor Project"]]
<blockquote>
<p><em>Tails expands Tor's protections to an entire operating system, and
they do so with an unwavering commitment to their Social Contract. Tails
is a favorite companion tool of Tor.</em></p>
&mdash; <strong>Roger Dingledine</strong>,<br/>
co-founder of the Tor Project
</blockquote>

</section>

<section class="quote">

[[!img eff.png size="200x200" link="https://www.eff.org/" alt="EFF"]]
<blockquote>
<a href="https://www.eff.org/deeplinks/2014/10/7-privacy-tools-essential-making-citizenfour">
<p><em>One of the most robust ways of using the Tor network is through a
dedicated operating system that enforces strong privacy- and
security-protective defaults. That operating system is Tails.</em></p>
&mdash; <strong>Electronic Frontier Foundation</strong>
</a>
</blockquote>

</section>

<section class="logos">

[[!img accessnow.png size="200x" link="https://accessnow.org/" alt="Access Now"]]

[[!img riseup.png size="200x" link="https://riseup.net/" alt="Riseup"]]

</section>

</div>

</section>

<!--
P1: [DONE] Quienes soís? Como sé yo que no soís el gobierno?
P5: [DONE] Maybe add something like... "Tails is used by ..."
P9: [DONE] Wonders whether AccessNow is clickable
P12: [DONE] Thinks that AccessNow is a call for action
XX: [DONE] None of P6, P7, and P8 knew anything else but Wikileaks.
-->
