<p>Tails is a non-profit organization whose mission is to empower people
worldwide by giving out an operating system that protects from
surveillance and censorship.</p>

<p>We make digital security tools accessible to everyone, whenever they
need it: activists, journalists, freedom fighters, and ultimately, you,
whenever you need extra privacy in this digital world.</p>

<p>The Tails project was started in 2009 and has now more than 25 000 daily
users.</p>

<p>[[Read more about our mission and values.|contribute/mission]]</p>

<div id="benefits">

  <div class="benefit">

    <h3>Non-profit</h3>

    <p>We put our users first, not profits.</p>

  </div>

  <div class="benefit">

    <h3>Free Software</h3>

    <p>All our work is published as Free Software and we work closely
    with related projects (Debian, GNOME, Tor, etc.).</p>

  </div>

  <div class="benefit">

    <h3>Small team</h3>

    <p>We are a small team that values transparency, autonomy, and horizontal
    decision-making.</p>

  </div>

  <div class="benefit">

    <h3>Remote and international</h3>

    <p>We are a fully remote team and our team members can work from anywhere
    they want around the world. We have workers in 8 different countries.</p>

  </div>

  <div class="benefit">

    <h3>Flexible commitment</h3>

    <p>People work for Tails full-time, part-time, or as consultants.<br/>If you
    like flexibility, Tails is a place for you.</p>

  </div>

  <div class="benefit">

    <h3>Equal opportunity, equal pay</h3>

    <p>We are committed to creating an inclusive
    environment for all. We have a transparent compensation scheme where
    everybody enjoys comparable pay and benefits.</p>

  </div>

</div>
