body {
  color: black;
}

.sidebar {
  display: none;
}

h1 {
  margin: 1em 0 0.5em 0;
}

/* Mission */

#mission p {
  font-size: 24px;
}

/* Values */

#values p {
  margin-bottom: 3em;
}

/* Personality sliders */

#personality p {
  position: relative;
  height: 1.5em;
  font-weight: bold;
}

#personality span:first-child {
  position: absolute;
  left: 0;
  text-align: left;
}

#personality span:last-child {
  position: absolute;
  right: 0;
  text-align: right;
}

div.slider {
  width: 100%;
  margin-bottom: 3em;
}
